{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucshow.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/trading/countdown.min.js"></script>
<script type="text/javascript">
var auctions = [];
{% for auction in auctions %}
	auctions.push({
		index:{{auction.id}},
		enddate: new Date(
			{{auction.product.expired|date:'Y'}}, 
			{{auction.product.expired|date:'m'}}-1, 
			{{auction.product.expired|date:'d'}}, 
			{{auction.product.expired|date:'H'}}, 
			{{auction.product.expired|date:'i'}}, 
			{{auction.product.expired|date:'s'}}),
	});
{% endfor %}
</script>
<script type="text/javascript" src="/static/js/trading/auction.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
{% include 'common/topbreadcrumb.html'%}
<div class="container">
	<div id="main" class="productblock" action="{% url 'bid' %}">
		{% for auction in auctions %}
		<div class="hasextends auction" pid="{{auction.id}}" id="auction{{auction.id}}">
			<time id="endTime{{auction.id}}"
				data-toggle="tooltip" title="Expired Time Counter." data-trigger="hover"/>
				<span id="endMajor{{auction.id}}" class="day">{{auction.product.expired|date:'d'}}</span>
				<span id="endMinor{{auction.id}}" class="month">{{auction.product.expired|date:'M'}}</span>
			</time>
			<a href="{% url 'product' pid=auction.product.id %}">
			{% if auction.product.picture1 %}
				<img src="{{auction.product.picture1.url}}"
					data-toggle="tooltip" title="View Product Detail." data-trigger="hover"/>
			{% else %}
				<img 
					data-toggle="tooltip" title="View Product Detail." data-trigger="hover"/>
			{% endif %}
			</a>
			<div class="info">
				<h2 class="title">{{auction.product.name}}</h2>
				<p class="desc"><i class="fa fa-clock-o"></i> Expired : {{auction.product.expired|date:'d M Y H:i'}}</p>
				<p class="desc"><i class="fa fa-group"></i> Bidder : {{auction.product.auctions.count}}</p>
				<ul>
					<li style="text-align:right; padding-right:15px;">
						<a ref="{% url 'payment' pid=auction.product.id %}">
							<span id="price{{auction.id}}" class="price" value="{{auction.product.getMaxPrice}}"
								data-toggle="tooltip" title="Click Here to purchase this product." data-trigger="manual" data-placement="top">
								{% if auction.product.highest_auction == auction %}
								<span class='fa fa-flag' style='color:rgba(255, 0, 97, 1);'></span>
								{% endif %}
								{{auction.product.getMaxPrice}}
							</span>
							<span class="fa fa-usd"></span>
						</a>
					</li>
					<li class="social_gap"></li>
				</ul>
			</div>
			<div class="social">
				<ul>
					{% if auction.unwatched %}
					<li class="facebook" data-toggle="tooltip" title="Watch this Auction.">
						<input type="hidden" name="unwatched" id="unwatched{{auction.id}}" value="0">
						<a href="#" data-auction="{{auction.id}}" data-target="unwatched{{auction.id}}" class="update-btn">
							<span class="fa fa-eye"></span></a></li>
					{% else %}
					<li class="google-plus" data-toggle="tooltip" title="Unwatch this Auction.">
						<input type="hidden" name="unwatched" id="unwatched{{auction.id}}" value="1">
						<a href="#" data-auction="{{auction.id}}" data-target="unwatched{{auction.id}}" class="update-btn">
							<span class="fa fa-eye-slash"></span></a></li>
					{% endif %}
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		{% if not auction.unwatched %}
		<div class="extends row" id="auctioner{{auction.id}}">
			<div class="col-sm-6 col-lg-3">
				<div class="input-group">
					<div class="input-group-addon eqsize">Bidding</div>
					<input id="current{{auction.id}}" name="current" class="form-control" type="text" 
						placeholder='{{auction.current}}' data-auction="{{auction.id}}">
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="current{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="input-group">
					<div class="input-group-addon eqsize">Ceiling</div>
					<input id="ceiling{{auction.id}}" name="ceiling" class="form-control" type="text" 
						placeholder='{{auction.ceiling}}' data-auction="{{auction.id}}">
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="ceiling{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="input-group">
					<div class="input-group-addon eqsize">Increase</div>
					<input id="increase{{auction.id}}" name="increase" class="form-control" type="text" 
						placeholder='{{auction.increase}}' data-auction="{{auction.id}}">
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="increase{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="col-xs-6">
					<input id="isAuto{{auction.id}}" name="isAuto" type="hidden" value="{{auction.isAuto|yesno:'1,0'}}"> 
					<button class="toggle-btn btn btn-{{auction.isAuto|yesno:'info,default'}}" style="width:100%"
						data-auction="{{auction.id}}" data-target="isAuto{{auction.id}}">
						AUTO <span class="fa fa-refresh {{auction.isAuto|yesno:'fa-spin,'}}"></span>
					</button>
				</div>
				<div class="col-xs-6">
					<input id="isNotify{{auction.id}}" name="isNotify" type="hidden" value="{{auction.isNotify|yesno:'1,0'}}"> 
					<button class="toggle-btn btn btn-{{auction.isNotify|yesno:'info,default'}}" style="width:100%"
						data-auction="{{auction.id}}" data-target="isNotify{{auction.id}}">
						MAIL <span class="fa fa-envelope {{auction.isNotify|yesno:'fa-spin,'}}"></span>
					</button>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{% if not auctions %}
		<div>
			<time style="padding-top:20px;">
				<div class="fa  fa-exclamation-triangle fa-5x"></div>
			</time>
			<div class="info">
				<h2 class="title">No {{title}}.</h2>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
