{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucshow.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/trading/countdown.min.js"></script>
<script type="text/javascript">
var auctions = [];
{% for auction in auctions %}
	auctions.push({
		index:{{forloop.counter}},
		enddate: new Date(
			{{auction.product.expired.year}}, 
			{{auction.product.expired.month}}-1, 
			{{auction.product.expired.day}}, 
			{{auction.product.expired.hour}}, 
			{{auction.product.expired.minute}}, 
			{{auction.product.expired.second}}),
	});
{% endfor %}
</script>
<script type="text/javascript" src="/static/js/trading/auction.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
{% include 'common/topbreadcrumb.html'%}
<div class="container">
	<div id="main" class="productblock" action="{% url 'bid' %}">
		{% for auction in auctions %}
		<div class="hasextends">
			<time id="endTime{{forloop.counter}}">
				<span id="endMajor{{forloop.counter}}" class="day">{{auction.product.expired|date:'d'}}</span>
				<span id="endMinor{{forloop.counter}}" class="month">{{auction.product.expired|date:'M'}}</span>
			</time>
			<img src="{{auction.product.picture1.url}}"/>
			<div class="info">
				<h2 class="title">{{auction.product.name}}</h2>
				<p class="desc">{{auction.product.expired|date:'d M Y H:i'}}</p>
				<ul>
					<li></li>			
					<li style="width:25%;">
						<span class="competant"></span>
						<span class="fa fa-users"></span>
					</li>
					<li style="width:25%;">
						<input type="checkbox" {{auction.isAuto|yesno:'checked,'}} onclick="tauto({{auction.product.id}});" >
						Auto
					</li>
					<li class="hoverable" style="width:25%;">
						<a href="{% url 'payment' pid=auction.product.id %}">
							<span id="price{{auction.product.id}}" pid="{{auction.product.id}}" class="price">
								{{auction.product.getMaxPrice}}
							</span>
							<span class="fa fa-usd"></span>
						</a>
					</li>				
					<li class="social_gap"></li>
				</ul>
			</div>
			<div class="social">
				<ul>
					<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
					<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
					<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="extends row">
			<div class="col-sm-4">
				<div class="input-group">
					<div class="input-group-addon eqsize">Bidding</div>
					<input id="current{{auction.id}}" name="current" class="form-control" type="text" placeholder='{{auction.current}}'>  
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="current{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<div class="input-group-addon eqsize">Ceiling</div>
					<input id="ceiling{{auction.id}}" name="ceiling" class="form-control" type="text" placeholder='{{auction.ceiling}}'>  
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="ceiling{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<div class="input-group-addon eqsize">Increase</div>
					<input id="increase{{auction.id}}" name="increase" class="form-control" type="text" placeholder='{{auction.increase}}'> 
					<div class="input-group-btn">
						<button class="update-btn btn btn-default" data-auction="{{auction.id}}" data-target="increase{{auction.id}}">
						<span class="fa fa-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
