{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucprof.css">
<link rel="stylesheet" type="text/css" href="/static/css/common/aucshow.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/member/profile.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
<div class="container">
    <div class="row user-menu-container">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3>{{member.displayname}}</h3>
                        <!-- <h4 class="white"><i class="fa fa-check-circle-o"></i> San Antonio, TX</h4> -->
                        <!-- <h4 class="white"><i class="fa fa-twitter"></i> CoolesOCool</h4> -->
                        {% if login_member == member %}
                        <a type="button" class="btn btn-labeled btn-default" href="{% url 'editprofile' %}">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>Edit
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                        {% if member.picture %}
                        <img src="{{member.picture.url}}" class="img-responsive thumbnail">
                        {% else %}
                        <img src="http://www.gravatar.com/avatar/{{member.confirmation}}.jpg?s=512&r=x&d=identicon" 
                            class="img-responsive thumbnail">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-xs-4 col-md-4 user-pad text-center">
                    <h3>BUY</h3>
                    <h4>{{member.getBuyTransaction.count}}</h4>
                </div>
                <div class="col-xs-4 col-md-4 user-pad text-center">
                    <h3>SELL</h3>
                    <h4>{{member.getSellTransaction.count}}</h4>
                </div>
                <div class="col-xs-4 col-md-4 user-pad text-center">
                    <h3>RATE</h3>
                    <h5 style="font-size:21px">                   
                        <i class="fa fa-thumbs-up" style="color:coral;">{{member.getScorePos}}</i>
                        &nbsp;
                        <i class="fa fa-thumbs-down">{{member.getScoreNeg}}</i>
                     </h5>
                </div>
            </div>
        </div>
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-default active">
                  <i class="fa fa-bell-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-usd fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-legal fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-cloud-upload fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Recent Transactions
                </h3>
                <ul class="user-menu-list">
                    {% if login_member == member %}
                    {% for transaction in member.getMyTransaction|slice:":3" %}
                    <li>
                        <h4><i class="fa fa-user coral"></i> 
                            {% if transaction.buyer == member %}
                            <a href="{% url 'profile_id' mid=transaction.product.owner.id %}">
                                {{transaction.product.owner.displayname}}</a> sold you 
                            {% else %}
                            <a href="{% url 'profile_id' mid=transaction.buyer.id %}">
                                {{transaction.buyer.displayname}}</a> buy your
                            {% endif %}
                            <a href="{% url 'product' pid=transaction.product.id %}">{{transaction.product.name}}</a>.
                        </h4>
                    </li>
                    {% endfor %}
                    {% if member.getMyTransaction %}
                    <li>
                        <a type="button" class="btn btn-labeled btn-danger" href="{% url 'transactions' %}">
                            <span class="btn-label"><i class="fa fa-bell-o"></i></span>View all transaction
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a type="button" class="btn btn-labeled btn-default" href="#" disabled>
                            <span class="btn-label"><i class="fa fa-bell-o"></i></span>No recent activity
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    {% endif %}
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                    Top Product
                </h3>
                {% if member.getTopSelling %}
                <div class="row">
                    {% for product in member.getTopSelling|slice:":2" %}
                    {% include 'product/productbreif.html' with product=product %}
                    {% endfor %}
                </div>
                {% else %}
                <ul class="user-menu-list">
                    <li>
                        <a type="button" class="btn btn-labeled btn-default" href="#" disabled>
                            <span class="btn-label"><i class="fa fa-usd"></i></span>No Product yet
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="user-menu-content">
                <h3>
                    Top Auction
                </h3>
                {% if member.getTopAuction %}
                <div class="row">
                    {% for product in member.getTopAuction|slice:":2" %}
                    {% include 'product/productbreif.html' with product=product %}
                    {% endfor %}
                </div>
                {% else %}
                <ul class="user-menu-list">
                    <li>
                        <a type="button" class="btn btn-labeled btn-default" href="#" disabled>
                            <span class="btn-label"><i class="fa fa-gavel"></i></span>No Auction yet
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="user-menu-content">
                <h3>
                    Feedback
                </h3>
                <ul class="user-menu-list">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container jumbotron" style="padding-top:10px; padding-bottom:10px; margin-botton:0px;">
    <div class="jumbotron" style="margin:10px; padding-top:2px; padding-bottom:5px; padding-left:30px; background-color: rgba(216, 216, 216, 1);">
    <h3>My Product</h3>
    </div>
    <div class="productblock">
        {% for product in products %}
        {% include 'product/productblock.html' with product=product %}
        {% endfor %}
    </div>
</div>
<div class="container jumbotron" style="padding-top:10px; padding-bottom:10px; margin-botton:0px;">
    <div class="jumbotron" style="margin:10px; padding-top:2px; padding-bottom:5px; padding-left:30px; background-color: rgba(216, 216, 216, 1);">
    <h3>Waiting to Purchese</h3>
    </div>
    <div class="productblock">
        {% for product in products_wait %}
        {% include 'product/productblock.html' with product=product %}
        {% endfor %}
    </div>
</div>

{% endblock %}