{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucinput.css">
<link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/member/register.js"></script>
<script type="text/javascript" src="/static/js/fileinput.min.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
{% include 'common/topbreadcrumb.html'%}
<div class="container">
	{% if member %}
	<form action="{% url 'doupdated' %}" method="POST" enctype="multipart/form-data" id="mainform" >
	{% else %}
	<form action="{% url 'doregister' %}" method="POST" enctype="multipart/form-data" id="mainform" >
	{% endif %}
		{% csrf_token %}
		<div class="mainblock">
			<div>
				<time>
					<span class="clock">Authen</span>
				</time>
				<div class="detail">
					<div class="padblock"></div>
					<div class="input-group has-error">
						<span class="input-group-addon">Email</span>
						<input tabindex="1" type="email" class="form-control input" required value="{{member.email}}" 
							name="email" id="email"  placeholder="Email Address" {% if member %} readonly {% endif %} >
						<div class="input-group-addon descbox">
							ฝากดูตรงนี้โหน่ยยย มันไม่ยอมขึ้นบรรทัดใหม่ให้อ่ะ
						</div>
					</div>
					{% if member %}
					<div class="input-group">
						<span class="input-group-addon">Old Password</span>
						<input tabindex="2" type="password" class="form-control input" required value="" 
							name="oldpassword" id="oldpassword"  placeholder="Old Password" >
					</div>
					{% endif %}
					<div class="input-group">
						<span class="input-group-addon">Password</span>
						<input tabindex="2" type="password" class="form-control input" required value="" 
							name="password" id="password"  placeholder="Password" >
					</div>
					<div class="input-group">
						<span class="input-group-addon">Confirm</span>
						<input tabindex="3" type="password" class="form-control input" required value="" 
							name="password_confirmation" id="password_confirmation"  placeholder="Confirm Password" >
					</div>
				</div>
			</div>
			<div>
				<time>
					<span class="clock">Contact</span>
				</time>
				<div class="detail">
					<div class="padblock"></div>
					<div class="input-group">
						<span class="input-group-addon">First Name</span>
						<input tabindex="4" type="text" class="form-control input" required value="{{member.firstname}}" 
							name="firstname" id="firstname" placeholder="First Name" >
					</div>
					<div class="input-group">
						<span class="input-group-addon">Last Name</span>
						<input tabindex="5" type="text" class="form-control input" required value="{{member.lastname}}" 
							name="lastname" id="lastname" placeholder="Last Name" >
					</div>
					<div class="input-group">
						<span class="input-group-addon">Display Name</span>
						<input tabindex="6" type="text" class="form-control input" required value="{{member.displayname}}" 
							name="displayname" id="displayname" placeholder="Display Name" >
					</div>
					<div class="input-group" id="datetimepicker1">
						<span class="input-group-addon">Birthdate</span>

						<div class="input-group">
							<input tabindex="7" type="date" class="form-control input" required value="{{member.birthdate|date:"d b Y"}}" 
								name="birthdate" id="birthdate" placeholder="Birthdate"  
								data-date-format="DD MMM YYYY"
								style="background-color:white; cursor: text;"/>
							<div class="input-group-addon" style="width:0px !important;">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Phone</span>
						<input tabindex="8" type="text" class="form-control input" required value="{{member.phone}}" 
							name="phone" id="phone" placeholder="Phone" >
					</div>
					<div class="input-group">
						<span class="input-group-addon">Address</span>
						<input tabindex="9" type="text" class="form-control input" required value="{{member.address}}" 
							name="address" id="address" placeholder="Address" >
					</div>
					<div class="input-group">
						<span class="input-group-addon">Country</span>
						<select tabindex="10" type="select" class="form-control input" required value="{{member.country}}" 
							name="country" id="country" placeholder="Country" >
						{% for country in countries %}
						  <option value="{{country.id}}">{{country.name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Timezone</span>
						<select tabindex="11" type="select" class="form-control input" required value="{{member.timezone}}" 
							name="timezone" id="timezone" placeholder="Timezone" >
						{% for timezone in timezones %}
						  <option value="{{timezone.id}}">{{timezone.name}}</option>
						{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div>
				<time>
					<span class="clock">Profile</span>
				</time>
				{% if member.picture %}
				<img id="oldpicture" src="{{member.picture.url}}" class="hidden">
				{% endif %}
				<div class="detail">
					<div class="padblock"></div>
					<div class="input-group">
						<span class="input-group-addon">Picture</span>
						<input tabindex="12" type="file" class="form-control file" required
							name="picture" id="picture" placeholder="Profile Picture"
							data-show-upload="false" >
					</div>
				</div>
			</div>
			<div>
				<time>
					<span class="clock">Agreement</span>
				</time>
				<div class="detail">
					<div class="padblock"></div>
					{% if not member %}
					<div>
						<span class="button-checkbox">
							<button type="button" class="btn" data-color="info" tabindex="13">I Agree</button>
							<input type="checkbox" class="hidden" name="agreement" required>
							I Agree to the 
							<a href="#" data-toggle="modal" data-target="#modal_term">Terms and Conditions</a>
							set out by this site, including our Cookie Use.
						</span>
					</div>
					<div style="text-align:right;">
						<button type="button" id="register" class="btn btn-primary" tabindex="14">
							<span class="fa fa-file-text-o"></span> Register <span id="validating"></span>
						</button>
					</div>
					{% else %}
					<div style="text-align:right;">
						<button type="button" id="register" class="btn btn-primary" tabindex="14">
							<span class="fa fa-file-text-o"></span> Update Profile <span id="validating"></span>
						</button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</form>

	<div class="modal fade" id="modal_term" tabindex="15" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}