.product-info-head {
    display: block;
    padding: 10px;
    height: 100%;
    background: #eee;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
}
.product-info-content {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #d6d6d6;
}

.tab-pane > .row:last-child {
	border-bottom: 1px solid #d6d6d6;
}
/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

@media(max-width:768px) {
	.product-info-head {
		text-align: center;
	}
	.product-info-content {
		text-align: center;
	}
}

.tab-content {
	padding-top: 15px;
}