.productblock {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}
.productblock > div {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.productblock > div.hasextends ~ div.hasextends {
	margin-top: 20px;
}
.productblock > div.hasextends {
	margin: 0px;
}
.productblock > div.extends {
	box-shadow: 0px 5px 5px rgb(51, 51, 51);
	box-shadow: 0px 5px 5px rgba(51, 51, 51, 0.7);
	padding: 15px 0px 15px 0px;
}
.productblock > div > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(197, 44, 102);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.productblock > div:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.productblock > div > time > span {
	display: none;
}
.productblock > div > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.productblock > div time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.productblock > div > time > .clock {
	display: block;
	font-size: 32pt;
	font-weight: 100;
	line-height: 1.7;
}
.productblock > div > img,
.productblock > div > a > img {
	width: 100%;
}
.productblock > div > .info {
	padding-top: 5px;
	text-align: center;
}
.productblock > div > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.productblock > div > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.productblock > div > .info > ul,
.productblock > div > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.productblock > div > .social > ul {
	margin: 0px;
}
.productblock > div > .info > ul > li,
.productblock > div > .social > ul > li {
	display: table-cell;
	/*cursor: pointer;*/
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.productblock > div > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.productblock > div > .social > ul > li {    
	width: 33%;
    padding: 0px;
}
.productblock > div > .social > ul > li > a {
    padding: 3px 0px;
} 
.productblock li.hoverable:hover,
.productblock li.hoverable:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
	.productblock {
		padding-left: 10%;
		padding-right: 10%;
	}
	.productblock > div {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.productblock > div.extends {
		height: auto;
	}
	.productblock > div > time,
	.productblock > div > img,
	.productblock > div > a > img  {
		display: inline-block;
	}
	.productblock > div > time,
	.productblock > div > img,
	.productblock > div > a > img {
		width: 120px;
		float: left;
	}
	.productblock > div > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.productblock > div > time,
	.productblock > div > img,
	.productblock > div > a > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.productblock > div > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}	
	.productblock > div > .info > .title, 
	.productblock > div > .info > .desc {
		padding: 0px 10px;
	}
	.productblock > div > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.productblock > div > .info > ul > li.social_gap {
		width:40px;
	}
	.productblock > div > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
    .productblock > div > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
	.productblock > div > .social > ul > li {			
		display: block;
        padding: 0px;
	}
	.productblock > div > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}

.input-group-addon.eqsize {
	width: 80px
}
.price {
	font-size: 24px;
	font-weight: 600;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
button.toggle-btn,button.update-btn,.proinfo {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
div.info > ul > li.proinfo {
	float:right;
	padding-right:10px;
	padding-left:10px;
}

div.info > ul > li.proinfo > a.price {
	padding-top:0px;
	min-width: 160px;
	text-align: right;
}
div.info > ul > li.proinfo > a {
	padding-top:10px;
}