<div class="col-xs-6">
    <div class="view">
        <div class="caption">
            <p></p>
            <a href="{% url 'product' pid=product.id %}">
                <span class="fa fa-search fa-3x"></span>
            </a>
        </div>
        {% if product.picture1 %}
        <img src="{{product.picture1.url}}" class="img-responsive thumbnail">
        {% else %}
        <img class="img-responsive thumbnail">
        {% endif %}
    </div>
    <div class="info">
        <p class="small" style="text-overflow: ellipsis">{{product.name}}</p>
        <p class="small coral text-right">
            <i class="fa fa-usd"></i> {{product.getMaxPrice}}<br/>
            <i class="fa fa-clock-o"></i> {{product.expired|date:"M.d.Y,H:i"}}</p>
    </div>
    <div class="stats turqbg">
    	{% if product.state == product.STATE_AUCTION %}
        <span class="fa fa-group" style="padding-right:10px">
            <strong>{{product.auctions.count}}</strong>
        </span>
        {% endif %}
        <span class="fa fa-eye">
            <strong>{{product.view}}</strong>
        </span>
    </div>
</div>