<div>
	<a href="{% url 'product' pid=product.id %}">
		<img src="{{product.picture1.url}}"/>
	</a>
	<div class="info">
		<h2 class="title">{{product.name}}</h2>
		<p class="desc">{{product.properties}}</p>
		<ul style="width:100%;">
			<li></li>
			{% if login_member.id == product.owner.id %}
			<li class="hoverable" style="width:25%;">
				<a href="{% url 'e_product' pid=product.id %}" name="{{product.id}}">Edit Product <span class="fa fa-edit"></span></a>
			</li>
			{% endif %}
			<li class="hoverable" style="width:25%;">
				<a >{{product.netPrice}} <span class="fa fa-money"></span></a>
			</li>
			<li class="social_gap"></li>							
		</ul>
	</div>
	<div class="social">
		<ul>
			<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
			<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
			<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
	</div>
</div>
