<div>
	<img src="{{product.picture1.url}}"/>
	<div class="info">
		<h2 class="title">{{product.name}}</h2>
		<p class="desc">{{product.properties}}</p>
		<ul style="width:50%;">
			<li style="width:25%;">{{product.netPrice}} <span class="fa fa-money"></span></li>							
		</ul>

	</div>
	<div class="social">
		<ul>
			<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
			<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
			<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
	</div>
</div>
