{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucshow.css">
<style type="text/css">
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/product/searchlist.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
<div class="container">
	<div class="productblock">
		{% for product in products %}
		{% include 'product/productblock.html' with product=product %}
		{% endfor %}
		{% if not products %}
		<div>
			<time style="padding-top:20px;">
				<div class="fa  fa-exclamation-triangle fa-5x"></div>
			</time>
			<div class="info">
				<h2 class="title">No Search Result.</h2>
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}