{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/product/searchlist.css">
<style type="text/css">
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/product/searchlist.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<div class="mainblock">
				
				<div>
					<img src="http://cdn.dota2.com/apps/dota2/images/items/bfury_lg.png"/>
					<div class="info">
						<h2 class="title">Battle Fury</h2>
						<p class="desc">Nov. 3, 2014, 8:30 a.m.</p>
						<ul style="width:50%;">
							<li style="width:25%;">29.99 <span class="fa fa-money"></span></li>							
						</ul>

					</div>
					<div class="social">
						<ul>
							<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
							<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
							<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>

						</ul>
					</div>
				</div>
				
				<div>
					<img src="http://cdn.dota2.com/apps/dota2/images/items/ultimate_scepter_lg.png"/>
					<div class="info">
						<h2 class="title">Aghanim&#39;s Sceptor</h2>
						<p class="desc">Nov. 4, 2014, 8:30 a.m.</p>
						<ul style="width:50%;">
							<li style="width:25%;">29.99 <span class="fa fa-money"></span></li>							
						</ul>

					</div>
					<div class="social">
						<ul>
							<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
							<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
							<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>

						</ul>
					</div>
				</div>
				
				<div>
					<img src="http://cdn.dota2.com/apps/dota2/images/items/travel_boots_lg.png"/>
					<div class="info">
						<h2 class="title">Boot of travel</h2>
						<p class="desc">Nov. 4, 2014, 8:31 a.m.</p>
						<ul style="width:50%;">
							<li style="width:25%;">29.99 <span class="fa fa-money"></span></li>							
						</ul>

					</div>
					<div class="social">
						<ul>
							<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
							<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
							<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>

						</ul>
					</div>
				</div>
				
				<div>
					<img src="http://cdn.dota2.com/apps/dota2/images/items/desolator_lg.png"/>
					<div class="info">
						<h2 class="title">Desolator</h2>
						<p class="desc">Nov. 5, 2014, 8:30 a.m.</p>
						<ul style="width:50%;">
							<li style="width:25%;">29.99 <span class="fa fa-money"></span></li>							
						</ul>

					</div>
					<div class="social">
						<ul>
							<li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
							<li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
							<li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>

						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}