{% extends 'common/maincanvas.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/common/aucinput.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/member/register.js"></script>
{% endblock %}
{% block body %}
{% include 'common/topnavbar.html' %}
<div class="container">
	<div class="mainblock">
		<div>
			<time>
				<span class="clock">
					Invalid
				</span>
			</time>
			<div class="padblock"></div>
			<div class="detail">
				<p>
					{{content}}
					{% if not content %}
						Restricted URL Location
					{% endif %}
				</p>
				{% if errorList %}
				<li>
					{% for error in errorList %}
					<ul>{{error}}</ul>
					{% endfor %}
				</li>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}