<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Aucport</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="nav1"><a href="#">Home</a></li>
				<li id="nav2" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Menu <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'product' %}">product</a></li>
						<li><a href="{% url 'c_product' %}">c_product</a></li>
						<li><a href="{% url 'e_product' %}">e_product</a></li>
						<li><a href="{% url 'search' %}">Search</a></li>
						<li><a href="{% url 'editprofile' %}">Edit Profile</a></li>
						<li><a href="{% url 'profile' %}">Profile</a></li>
						<li><a href="{% url 'register' %}">Register</a></li>
						<li><a href="{% url 'auction' %}">Auction</a></li>
						<li><a href="{% url 'payment' %}">Payment</a></li>
					</ul>
				</li>
				<li id="nav3" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<form role="search" method="POST" action="{% url 'dosearch' %}">
								{% csrf_token %}
								<div class="input-group" style="padding:10px; width:300px">
									<input name="name" type="text" class="form-control" required>
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"><span class="fa fa-search"></button>
									</span>
								</div>
							</form>
						</li>
						<li class="divider"></li>
						<li><a href="{% url 'search' %}">Advance Search</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if not login_member %}
				<li id="nav4"><a href="{% url 'register' %}">Sign Up</a></li>
				<li id="nav5" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
					<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
						<li>
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" method="POST" action="/member/login/" accept-charset="UTF-8" id="login-nav">
										{% csrf_token %}
										<div class="form-group">
											<label class="sr-only" for="exampleInputEmail2">Email address</label>
											<input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="exampleInputPassword2">Password</label>
											<input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
										</div>
										<!-- <div class="checkbox">
											<label>
												<input type="checkbox"> Remember me
											</label>
										</div> -->
										<div class="form-group">
											<button type="submit" class="btn btn-success btn-block">Sign in</button>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</li>
				{% else %}
				<li id="nav4"><a href="{% url 'profile' %}">Profile</a></li>
				<li id="nav5"><a href="{% url 'logout' %}">Sign Out</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>