<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Aucport</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% if login_member %}
				<li><a href="{% url 'c_product' %}">New Product</a></li>
				<li><a href="{% url 'auction' %}">Auction</a></li>
				{% endif %}
			</ul>
		    <div class="col-sm-3 col-md-3">
		        <form class="navbar-form" role="search" action="{% url 'search' %}" method="GET">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Search" name="name">
		            <div class="input-group-btn">
		                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		                <a class="btn btn-default" href="{% url 'search' %}"><i class="glyphicon glyphicon-list"></i></a>
		            </div>
		        </div>
		        </form>
		    </div>
			<ul class="nav navbar-nav navbar-right">
				{% if not login_member %}
				<li><a href="{% url 'register' %}">Sign Up</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
					<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
						<li>
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" method="POST" action="/member/login/" accept-charset="UTF-8" id="login-nav">
										{% csrf_token %}
										<div class="form-group">
											<label class="sr-only" for="exampleInputEmail2">Email address</label>
											<input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="exampleInputPassword2">Password</label>
											<input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-success btn-block">Sign in</button>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</li>
				{% else %}
				<li>
					<a href="{% url 'profile' %}">{{login_member.displayname}}
						{% if login_member.picture %}
						<img src="{{login_member.picture.url}}" class="member-pic-thumb"/>
						{% else %}
						&nbsp;<i class="fa fa-male"></i>
						{% endif %}
					</a>
				</li>
				<li><a href="{% url 'logout' %}">Sign Out</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>